	html,body {
		height: 99%;
		width: 99%;
	}
	.title {
		color: lightgray;
		text-align: center;
		/*background-color: #404647;*/
		/*border: 3px solid white;*/
		padding: 10px 0px 10px 0px;
		margin:0px 0px 15px 0px;
		width: 99.1%;
		font-family: 'Julius Sans One', sans-serif;
		letter-spacing: .07em;
		font-size: 2.8em;
	}
	.inspiration {
		margin-left: 15px;
		text-align: left;
		font-size: .28em;
		display: inline-block;
		width: 110px;
		line-height: 12px;
	}
	.all-locations {
		width: 100%;
		height: 90%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.locations-list {
		width: 100%;
		height: 100%;
		padding: 0px;
	}
	.location {
		display: inline-block;
		width: 	24.5%;
		height: 21.5%;
		min-height: 100px;
		margin-right: .5%;
		margin-top: -14px;
		cursor: pointer;
		text-align: center;
	}
	.image	{
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 110%;
		border-radius: 3%;
	}
	.img-title {
		opacity: 0;
		font-family: "Biryani" , sans-serif;
		color: white;
		display: inline-block;
		transform: translateY(-375%);
		font-size: .9em;
	}
	.location:hover .image{
		opacity: .2;
	}
	.location:hover .img-title	{
		opacity: 1;
	}

	@media (max-width: 1500px) {
		.location {
			width: 	32.3%;
			height: 20%;
		}

	}
	@media (max-width: 1100px) {
		.title {
			font-size: 1.5em;
		}
		.location {
			width: 	49%;
			height: 24.5%;
			margin-right: 1%;
		}
		.inspiration {
			display: none;
		}
	}
	@media (max-width: 800px) {
		.title {
			font-size: 1.1em;
		}
			.location {
				width: 	96%;
				height: 35%;
				margin-top: -16px;
			}
			.all-locations {
				padding-right: 5px;
				padding-left: 5px;
		}
		.img-title {
			transform: translateY(-400%);
		}

	}
		@media (max-width: 600px) {
		.location {
			height: 22%;
			margin-top: -15px;
		}
				.image {
			border-radius: 5%;
		}

	}
		@media (max-height: 700px) {
		.img-title {
			transform: translateY(-250%);
		}
	}