body {
	background-color: gray;
}

.content {
	/*width: 1600px;*/
	width: 97%;
	/*height: 1200px;*/
	margin-right: auto;
	margin-left: auto;
	background-color: lightgray;

}

.image {
	width: 65%;
/*	margin-left: auto;
	margin-right: auto;*/
	display: inline-block;

}
.image>img {
	max-width: 100%;

}
.description {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-top: -12px;
}
h2 {
	margin-left: 5%;
	margin-bottom: 2px;
}

.image>img,.where,.map,.why {
	/*border: 3px solid white;*/
}

.box{
	margin-left: 5%;
	margin-top: 3px;
	width: 98%;
	border: 3px solid white;
}

.where {
	
}

.why {
	vertical-align: top;
	text-overflow: ellipsis;
}

.map {
	height: 290px;
	margin-top: 10px;	
}

@media (max-width: 750px) {
	.content {
		width: 100%;
	}
	.image {
		display: block;
		width: 100%;
	}
	.description {
		width: 90%; 
	}
}