body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
  font-size: 1.2em;
}
.home-button {
  text-decoration: none;
  color: white;
  font-size: 2.2em;
}

.container {
  width: 800px;
	height: 800px;
	margin:-400px 0 0 -400px;
	left: 50%;
	color:	white;
	top: 45%;
	position: absolute;
	text-align: center;
	opacity: 0;
	animation: backcolor 2000ms;
	animation-delay: 500ms;
	animation-fill-mode: forwards;
	transition: 800ms ease-in-out;
}
@keyframes backcolor {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
#hr {
	width: 15px;
	height: 99.7%;
	left: 7%;
	background-color:	white;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 0;
	animation: backcolor 1500ms;
	animation-delay: 100ms;
	animation-fill-mode: forwards;
}
h3 {
  margin-bottom: -5px;
  margin-top: -5px;
}
.content {
  text-align: left;
  margin-top: 70px;
}
ul {
  padding: 0;
  margin-right: -50px;
  margin-bottom: -8px;
}
.entry {
  display: inline;
  position: relative;
}
.entry>a>img {
  filter: grayscale(100%);
  width: 383px;
  height: 180px;
  border: 4px double rgba(255, 255, 255, 0.4);
  margin-right: 15px;
  margin-bottom: 15px;
}

.entry>a>span {
  opacity: 0;
  position:absolute;
  bottom: 90px;
  margin-left: -290px;
  width: 250px;
  z-index: 2;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}
.entry:hover a>img {
	opacity: .3;
}

.entry:hover  .label {
	opacity: 1;
}

@media (max-height: 800px) {
  .container {
    top: 50%;
  }
}
@media (max-height: 700px) {
  .container {
    top: 60%;
  }
}
@media (max-height: 600px) {
  .container {
    top: 70%;
  }
}
@media (max-height: 500px) {
  .container {
    top: 80%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 390px;
    margin:-180px 0 0 -180px;
    top: 15%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 252px;
    margin:-125px 0 0 -125px;
    top: 10%;
  }
  .entry>a>img {
    width: 255px;
    height: 145px;
  }
  .entry>a>span {
    margin-left: -82%;
    width: 175pxx;
  }
}
