body {
  background-color:  rgb(225, 223, 221);
  color: #444;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
  font-size: 1.05em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.home-button {
  text-decoration: none;  
  color: #444;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  font-size: 3em;
}
.home-label {
  margin-top: -5px;
  font-size: .3em;
}
.nav {
  font-size: 1.3em;
  opacity: .95;
}
.nav > li {
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px 0px 5px;  
}

a {
  text-decoration: none;
  display: block;
}
ul {
  padding:0;
}
.entry {
  position: relative;
  list-style: none;
  clear: both;
}
.entry>a>img {
  width: 100%;
  border: 3px double rgba(55, 55, 55, 0.5);
  display: block;
  opacity: .9;
}

.details {
  color: #444;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;

}
.right {
  float: right;
}
.entry:hover a>img {
	opacity: 1;
}


@media (max-width: 1150px) {
  .details {
    font-size: .8em;
  }

}

@media (max-width: 950px) {
.details {
    font-size: .65em;
  }
}

@media (max-width: 700px) {
 .details {
    font-size: .8em;
    width: 100%;
    text-align: left;
  }
  .right {
    margin-top: -15px;
  }
}
